@model PortalGroupProject.CMS.Entities.Concrete.Customer

@{
    ViewData["Title"] = "Save";
}

<div class="row">

    <div class="col-md-4 offset-md-4">
        <h4>Üye Ol Formu</h4>
        <hr />
        <div class="alert alert-danger" role="alert">
            @ViewBag.mesaj
        </div>
        <div class="alert alert-danger" role="alert">
            @ViewBag.tc
        </div>
        <form asp-action="Save" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalityId" class="control-label"></label>
                <input asp-for="NationalityId" class="form-control" />
                <span asp-validation-for="NationalityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Üye oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>